
  #portfolio_pie {
    float:left;
    width: 700px;
    height: 500px;
  }

  #lineChart {
    float:left;
    margin-bottom: 150px;
    width: 700px;
  }

  #actual_portfolio_value {
    text-align: center;
    font-weight: bold;
  }

  .my-button {
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 50px;
  }


@media screen and (max-width : 1556px) {
  #portfolio_pie {
    float:none;
    margin:auto;
    width: 100%;
    height: 500px;
  }
  #lineChart {
    float:none;
    margin:auto;
    width: 100%;
  }
}
