
  #portfolio_pie {
    float:left;
    width: 700px;
    height: 500px;
  }

  #lineChart {
    float:left;
    margin:none;
    width: 700px;
  }

  #actual_portfolio_value {
    text-align: center;
    font-weight: bold;
  }


@media screen and (max-width : 1556px) {
  #portfolio_pie {
    float:none;
    margin:auto;
    width: 100%;
    height: 500px;
  }
  #lineChart {
    float:none;
    margin:auto;
    width: 100%;
  }
}
